<% include ../header.ejs %>
<link rel="stylesheet" type="text/css" href="<%=staticUrl %>style/market/fabu.css" />
<div id="main">
    <form action="fabuSubmit" class="fabu_form" method="POST" enctype="multipart/form-data">
        <div class="input-wrapper">
            <label class="label_gname" for="wanted">供求：</label>
            <label>
                <input checked="checked" class="sell_good" type="radio" value="0" title="转让" id="wanted" name="wanted"/>
                转让
            </label>
            <label>
                <input class="buy_good" type="radio" value="1" title="出售" id="wanted" name="wanted"/>
                求购
            </label>
        </div>
        <div class="input-wrapper">
            <label class="label_gname" for="gname">标题：</label>
            <input type="text" class="input long" id="gname" name="gname"/>
        </div>
        <div class="input-wrapper">
            <label class="label_gdesc" for="gdesc">描述：</label>
            <textarea id="gdesc" name="gdesc"></textarea>
        </div>
        <div class="input-wrapper">
            <label class="label_classify" for="classify">分类：</label>
            <select class="input" type="text" id="classify" name="classify">
                <option value="1">书籍/学习周边</option>
                <option value="2">自行车/生活周边</option>
                <option value="3">数码/电子</option>
                <option value="4">门票/卡券</option>
                <option value="100">其他</option>
            </select>
        </div>
        <div class="input-wrapper">
            <label class="label_gprice" for="gprice">价格：</label>
            <input class="input" type="text" id="gprice" name="gprice"/>
            &nbsp;&nbsp;元
        </div>
        <div class="input-wrapper">
            <label class="label_mobile" for="mobile">联系电话：</label>
            <input class="input" type="text" id="mobile" name="mobile"/>
        </div>
        <div class="input-wrapper">
            <label class="label_place" for="place">学校：</label>
            <span class="schoolChoose">［请选择学校］</span>
            <input type="hidden" class="schoolChooseVal" name="place" value="" />
        </div>
        <div class="input-wrapper" id="pic_picker">
            <label class="label_pic" for="pic">图片：</label>
            <input class="input" type="file" id="pic" name="pic" accept="fileUpload"/>
        </div>
        <input type="submit" id="form_submit"  value="发布"/>
    </form>
</div>
</div>
<script type="text/javascript">
    //判断 求购 或者是 出售
    var buy_good = $(".buy_good"),sell_good = $(".sell_good");
    buy_good.bind('click',function(){
        $("#pic_picker").css("display","none");
    });
    sell_good.bind('click',function(){
        $("#pic_picker").css("display","block");
    });

    $(".schoolChoose").bind('click',function(){
        var self = $(this);
        require(['ui/selector'],function (Selector){
            Selector.init({
                data:"<%=staticUrl %>schoolChoose",
                layer:2,
                data_id:'id',
                data_name:'school_name',
                search_bar:2,
                selector_title:"校园酷-选择您所在的学校",
                defaultData:"",
                selector_detial_title:["选择城市","选择学校"],
                callback:function(data){
                    $(".schoolChooseVal").val(data[1].code);
                    self.html(data[1].value);
                }
            })
        })
    })

</script>
<% include ../footer.ejs %>
