<% include ../header.ejs %>
<link rel="stylesheet" type="text/css" href="<%=staticUrl %>style/market/fabu.css" />
<div id="main">
    <form action="fabuSubmit" class="fabu_form" method="POST" enctype="multipart/form-data">
        <div class="input-wrapper">
            <label class="label_gname" for="wanted">供求：</label>
            <label>
                <input checked="checked" class="sell_good" type="radio" value="0" title="转让" id="wanted" name="wanted"/>
                转让
            </label>
            <label>
                <input class="buy_good" type="radio" value="1" title="出售" id="wanted" name="wanted"/>
                求购
            </label>
        </div>
        <div class="input-wrapper">
            <label class="label_gname" for="gname">标题：</label>
            <input type="text" class="input long" id="gname" name="gname"/>
        </div>
        <div class="input-wrapper">
            <label class="label_gdesc" for="gdesc">描述：</label>
            <textarea id="gdesc" name="gdesc"></textarea>
        </div>
        <div class="input-wrapper">
            <label class="label_classify" for="classify">分类：</label>
            <select class="input" type="text" id="classify" name="classify">
                <option>华东理工大学</option>
                <option>华东理工大学</option>
                <option>华东理工大学</option>
                <option>华东理工大学</option>
                <option>华东理工大学</option>
            </select>
        </div>
        <div class="input-wrapper">
            <label class="label_gprice" for="gprice">价格：</label>
            <input class="input" type="text" id="gprice" name="gprice"/>
            &nbsp;&nbsp;元
        </div>
        <div class="input-wrapper">
            <label class="label_mobile" for="mobile">联系电话：</label>
            <input class="input" type="text" id="mobile" name="mobile"/>
        </div>
        <div class="input-wrapper">
            <label class="label_place" for="place">学校：</label>
            <select class="input" type="text" id="place" name="place" >
                <option>华东理工大学</option>
                <option>华东理工大学</option>
                <option>华东理工大学</option>
                <option>华东理工大学</option>
                <option>华东理工大学</option>
            </select>
        </div>
        <div class="input-wrapper" id="pic_picker">
            <label class="label_pic" for="pic">图片：</label>
            <input class="input" type="file" id="pic" name="pic" accept="fileUpload"/>
        </div>
        <input type="submit" id="form_submit"  value="发布"/>
    </form>
</div>
</div>
<script type="text/javascript">
    //判断 求购 或者是 出售
    var buy_good = $(".buy_good"),sell_good = $(".sell_good");
    buy_good.bind('click',function(){
        $("#pic_picker").css("display","none");
    });
    sell_good.bind('click',function(){
        $("#pic_picker").css("display","block");
    });

    // require(['ui/validator'],function(Validator){
    //     console.log(Validator);
    //     Validator.init();
    // });
</script>
<% include ../footer.ejs %>
