<% include ../header.ejs %>
<link rel="stylesheet" type="text/css" href="http://localhost:3000/style/market/good.css"/>
<div class="detail_main">
            <div class="detail_guide">
                <a class="back">返回列表</a>
                <span class="notice_back">话题</span>
                <span> > 华丽丽的伤害了她！</span>
            </div>
            <div class="detail_body">
                <div class="content border">
                    <h1>This is the topic title 这里是标题</h1>
                    <h6>圆圆 发表于5分钟前 182次点击</h6>
                    <div class="image_area">
                        <img src="http://localhost/campuscool/resource/goods/1.jpg"/>
                    </div>
                    <p>what the fucking lifewhat the fucking lifewhat the fucking lifewhat the fucking lifewhat the fucking lifewhat the fucking lifewhat the fucking lifewhat the fucking lifewhat the fucking lifewhat the fucking lifes这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容这里是内容</p>
                    <div class="clear"><br></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
<% include ../rightTop.ejs %>
<% include ../footer.ejs %>