<% include ../header.ejs %>
<% include ../indexAsideBar.ejs %>
<link rel="stylesheet" type="text/css" href="http://www.campuscool.cn/style/market/index.css"/>
    <div class="column-right clearfix">
        <a href="" class="banner-main">
        <img src="http://www.campuscool.cn/media/market/2013/9/banner.jpg">
        </a>
        <div class="good-list-wrapper clearfix">
            <div class="good-wrapper">
                <div class="good-img">
                    <a href="#">
                    <img src="http://www.campuscool.cn/media/market/2013/9/1.png" alt="lalala"/>
                    </a>
                </div>
                <div class="detail-box">
                    <a href="#" class="gname">大美女一个免费！</a>
                    <p class="guser">来自于:kevin14</p>
                </div>
                <span class="gtime">2012-1-1 19点</span>
            </div>
            <div class="good-wrapper">
                <div class="good-img">
                    <a href="#">
                    <img src="http://www.campuscool.cn/media/market/2013/9/1.png" alt="lalala"/>
                    </a>
                </div>
                <div class="detail-box">
                    <a href="#" class="gname">大美女一个免费！</a>
                    <p class="guser">来自于:kevin14</p>
                </div>
                <span class="gtime">2012-1-1 19点</span>
            </div>
            <div class="good-wrapper">
                <div class="good-img">
                    <a href="#">
                    <img src="http://www.campuscool.cn/media/market/2013/9/1.png" alt="lalala"/>
                    </a>
                </div>
                <div class="detail-box">
                    <a href="#" class="gname">大美女一个免费！</a>
                    <p class="guser">来自于:kevin14</p>
                </div>
                <span class="gtime">2012-1-1 19点</span>
            </div>
            <div class="good-wrapper">
                <div class="good-img">
                    <a href="#">
                    <img src="http://www.campuscool.cn/media/market/2013/9/1.png" alt="lalala"/>
                    </a>
                </div>
                <div class="detail-box">
                    <a href="#" class="gname">大美女一个免费！</a>
                    <p class="guser">来自于:kevin14</p>
                </div>
                <span class="gtime">2012-1-1 19点</span>
            </div>
            <div class="good-wrapper">
                <div class="good-img">
                    <a href="#">
                    <img src="http://www.campuscool.cn/media/market/2013/9/1.png" alt="lalala"/>
                    </a>
                </div>
                <div class="detail-box">
                    <a href="#" class="gname">大美女一个免费！</a>
                    <p class="guser">来自于:kevin14</p>
                </div>
                <span class="gtime">2012-1-1 19点</span>
            </div>
            <div class="good-wrapper">
                <div class="good-img">
                    <a href="#">
                    <img src="http://www.campuscool.cn/media/market/2013/9/1.png" alt="lalala"/>
                    </a>
                </div>
                <div class="detail-box">
                    <a href="#" class="gname">大美女一个免费！</a>
                    <p class="guser">来自于:kevin14</p>
                </div>
                <span class="gtime">2012-1-1 19点</span>
            </div>
            <div class="good-wrapper">
                <div class="good-img">
                    <a href="#">
                    <img src="http://www.campuscool.cn/media/market/2013/9/1.png" alt="lalala"/>
                    </a>
                </div>
                <div class="detail-box">
                    <a href="#" class="gname">大美女一个免费！</a>
                    <p class="guser">来自于:kevin14</p>
                </div>
                <span class="gtime">2012-1-1 19点</span>
            </div>
            <div class="good-wrapper">
                <div class="good-img">
                    <a href="#">
                    <img src="http://www.campuscool.cn/media/market/2013/9/1.png" alt="lalala"/>
                    </a>
                </div>
                <div class="detail-box">
                    <a href="#" class="gname">大美女一个免费！</a>
                    <p class="guser">来自于:kevin14</p>
                </div>
                <span class="gtime">2012-1-1 19点</span>
            </div>
            <div class="good-wrapper">
                <div class="good-img">
                    <a href="#">
                    <img src="http://www.campuscool.cn/media/market/2013/9/1.png" alt="lalala"/>
                    </a>
                </div>
                <div class="detail-box">
                    <a href="#" class="gname">大美女一个免费！</a>
                    <p class="guser">来自于:kevin14</p>
                </div>
                <span class="gtime">2012-1-1 19点</span>
            </div>
            <div class="good-wrapper">
                <div class="good-img">
                    <a href="#">
                    <img src="http://www.campuscool.cn/media/market/2013/9/1.png" alt="lalala"/>
                    </a>
                </div>
                <div class="detail-box">
                    <a href="#" class="gname">大美女一个免费！</a>
                    <p class="guser">来自于:kevin14</p>
                </div>
                <span class="gtime">2012-1-1 19点</span>
            </div>
            <div class="good-wrapper">
                <div class="good-img">
                    <a href="#">
                    <img src="http://www.campuscool.cn/media/market/2013/9/1.png" alt="lalala"/>
                    </a>
                </div>
                <div class="detail-box">
                    <a href="#" class="gname">大美女一个免费！</a>
                    <p class="guser">来自于:kevin14</p>
                </div>
                <span class="gtime">2012-1-1 19点</span>
            </div>
        </div>
    </div>
</div>
<% include ../footer.ejs %>