<% include ../header.ejs %>
<% include ../indexAsideBar.ejs %>
<link rel="stylesheet" type="text/css" href="http://localhost:3000/style/market/index.css"/>
        <div class="topic_wrapper" id="topic_wrapper">
            <div class="topic_menu">
                <a id="new" class="on">最新</a>
                <a id="hot">最热</a>
                <a id="new_topic" class="new_topic">发布</a>
            </div>
            <div class="topic_bar tu">
                <div class="on_notice"></div>
                <a class="topic_title">华理怎么又改名了！</a>
                <span class="topic_info"><a class="username">圆圆</a>发表于<span class="past_time">5分钟</span>前</span>
                <img src="http://localhost/campuscool/resource/goods/topic_img.jpg">
                <p class="topic_intro">今天跑到华理门口，发现有人在挂心的校名，写的是浦江师范学院？这是什么情况啊，谁知道啊，怎么改校名学校没人通知啊，那我学生证还能不能用啊，过年了回家要买火车票啊！现在买火车票很狗血的呀，有木有啊？</p>
                <div class="topic_info_num">
                    <a class="like"></a><span class="like_num">80</span>
                    <a class="reply"></a><span class="reply_num">14</span>
                </div>
            </div>

            <div class="topic_bar">
                <div class="on_notice"></div>
                <a class="topic_title">华理怎么又改名了！</a>
                <span class="topic_info"><a class="username">圆圆</a>发表于<span class="past_time">5分钟</span>前</span>
                <p class="topic_intro">今天跑到华理门口，发现有人在挂心的校名，写的是浦江师范学院？这是什么情况啊，谁知道啊，怎么改校名学校没人通知啊，那我学生证还能不能用啊，过年了回家要买火车票啊！现在买火车票很狗血的呀，有木有啊？</p>
                <div class="topic_info_num">
                    <a class="like"></a><span class="like_num">80</span>
                    <a class="reply"></a><span class="reply_num">14</span>
                </div>
            </div>
            <div class="topic_bar tu">
                <div class="on_notice"></div>
                <a class="topic_title">华理怎么又改名了！</a>
                <span class="topic_info"><a class="username">圆圆</a>发表于<span class="past_time">5分钟</span>前</span>
                <img src="http://localhost/campuscool/resource/goods/topic_img.jpg" id="topic_bar_on">
                <p class="topic_intro">今天跑到华理门口，发现有人在挂心的校名，写的是浦江师范学院？这是什么情况啊，谁知道啊，怎么改校名学校没人通知啊，那我学生证还能不能用啊，过年了回家要买火车票啊！现在买火车票很狗血的呀，有木有啊？</p>
                <div class="topic_info_num">
                    <a class="like"></a><span class="like_num">80</span>
                    <a class="reply"></a><span class="reply_num">14</span>
                </div>
            </div>
            <div class="topic_bar tu">
                <div class="on_notice"></div>
                <a class="topic_title">华理怎么又改名了！</a>
                <span class="topic_info"><a class="username">圆圆</a>发表于<span class="past_time">5分钟</span>前</span>
                <img src="http://localhost/campuscool/resource/goods/topic_img.jpg">
                <p class="topic_intro">今天跑到华理门口，发现有人在挂心的校名，写的是浦江师范学院？这是什么情况啊，谁知道啊，怎么改校名学校没人通知啊，那我学生证还能不能用啊，过年了回家要买火车票啊！现在买火车票很狗血的呀，有木有啊？</p>
                <div class="topic_info_num">
                    <a class="like"></a><span class="like_num">80</span>
                    <a class="reply"></a><span class="reply_num">14</span>
                </div>
            </div>
            <div class="topic_bar tu">
                <div class="on_notice"></div>
            <a class="topic_title">华理怎么又改名了！</a>
            <span class="topic_info"><a class="username">圆圆</a>发表于<span class="past_time">5分钟</span>前</span>
            <img src="http://localhost/campuscool/resource/goods/topic_img.jpg">
            <p class="topic_intro">今天跑到华理门口，发现有人在挂心的校名，写的是浦江师范学院？这是什么情况啊，谁知道啊，怎么改校名学校没人通知啊，那我学生证还能不能用啊，过年了回家要买火车票啊！现在买火车票很狗血的呀，有木有啊？</p>
            <div class="topic_info_num">
                <a class="like"></a><span class="like_num">80</span>
                <a class="reply"></a><span class="reply_num">14</span>
            </div>
        </div>
            <div class="topic_bar">
                <div class="on_notice"></div>
                <a class="topic_title">华理怎么又改名了！</a>
                <span class="topic_info"><a class="username">圆圆</a>发表于<span class="past_time">5分钟</span>前</span>
                <p class="topic_intro">今天跑到华理门口，发现有人在挂心的校名，写的是浦江师范学院？这是什么情况啊，谁知道啊，怎么改校名学校没人通知啊，那我学生证还能不能用啊，过年了回家要买火车票啊！现在买火车票很狗血的呀，有木有啊？</p>
                <div class="topic_info_num">
                    <a class="like"></a><span class="like_num">80</span>
                    <a class="reply"></a><span class="reply_num">14</span>
                </div>
            </div>
            <div class="topic_bar tu">
                <div class="on_notice"></div>
                <a class="topic_title">华理怎么又改名了！</a>
                <span class="topic_info"><a class="username">圆圆</a>发表于<span class="past_time">5分钟</span>前</span>
                <img src="http://localhost/campuscool/resource/goods/topic_img.jpg">
                <p class="topic_intro">今天跑到华理门口，发现有人在挂心的校名，写的是浦江师范学院？这是什么情况啊，谁知道啊，怎么改校名学校没人通知啊，那我学生证还能不能用啊，过年了回家要买火车票啊！现在买火车票很狗血的呀，有木有啊？</p>
                <div class="topic_info_num">
                    <a class="like"></a><span class="like_num">80</span>
                    <a class="reply"></a><span class="reply_num">14</span>
                </div>
            </div>
            <div class="topic_bar">
                <div class="on_notice"></div>
                <a class="topic_title">华理怎么又改名了！</a>
                <span class="topic_info"><a class="username">圆圆</a>发表于<span class="past_time">5分钟</span>前</span>
                <p class="topic_intro">今天跑到华理门口，发现有人在挂心的校名，写的是浦江师范学院？这是什么情况啊，谁知道啊，怎么改校名学校没人通知啊，那我学生证还能不能用啊，过年了回家要买火车票啊！现在买火车票很狗血的呀，有木有啊？</p>
                <div class="topic_info_num">
                    <a class="like"></a><span class="like_num">80</span>
                    <a class="reply"></a><span class="reply_num">14</span>
                </div>
            </div>
            <div class="topic_bar tu">
                <div class="on_notice"></div>
                <a class="topic_title">华理怎么又改名了！</a>
                <span class="topic_info"><a class="username">圆圆</a>发表于<span class="past_time">5分钟</span>前</span>
                <img src="http://localhost/campuscool/resource/goods/topic_img.jpg">
                <p class="topic_intro">今天跑到华理门口，发现有人在挂心的校名，写的是浦江师范学院？这是什么情况啊，谁知道啊，怎么改校名学校没人通知啊，那我学生证还能不能用啊，过年了回家要买火车票啊！现在买火车票很狗血的呀，有木有啊？</p>
                <div class="topic_info_num">
                    <a class="like"></a><span class="like_num">80</span>
                    <a class="reply"></a><span class="reply_num">14</span>
                </div>
            </div>
            <div class="topic_bar tu">
                <div class="on_notice"></div>
                <a class="topic_title">华理怎么又改名了！</a>
                <span class="topic_info"><a class="username">圆圆</a>发表于<span class="past_time">5分钟</span>前</span>
                <img src="http://localhost/campuscool/resource/goods/topic_img.jpg">
                <p class="topic_intro">今天跑到华理门口，发现有人在挂心的校名，写的是浦江师范学院？这是什么情况啊，谁知道啊，怎么改校名学校没人通知啊，那我学生证还能不能用啊，过年了回家要买火车票啊！现在买火车票很狗血的呀，有木有啊？</p>
                <div class="topic_info_num">
                    <a class="like"></a><span class="like_num">80</span>
                    <a class="reply"></a><span class="reply_num">14</span>
                </div>
            </div>
        </div>
<% include ../rightTop.ejs %>
<% include ../footer.ejs %>