body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}
body{
    height:100%;
    font-size: 14px;
    color:#4c4c4c;
    font-family: Microsoft Yahei;
}
html{
    height:100%;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img {
    border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
q:before,q:after {
    content:'';
}
a{text-decoration: none;color: #1769FF;}
a{cursor: pointer;}
.clearfix
{
zoom:1;
}
.clearfix:after
{
content:".";
height:0;
visibility:hidden;
display:block;
clear:both;
font-size: 0;
}

/*头部导航*/
#userBox{height: 45px;width: 100%;margin-left: 274px;}
#userBox a.school{position: relative; display: inline-block;height: 35px;margin-top:5px;background-color: #2ac3fb;color: #fff; font-size: 14px;line-height: 35px;text-indent: 10px;padding-right: 30px;}
#userBox a.school .arrow{color: #2ac3fb;position: absolute;right: -22px;font-size: 74px;top: 0;}

/*header导航*/
.navbar{margin-bottom: 20px;overflow: visible;line-height:20px;}
.navbar .navbar-inner{
  min-height: 48px;
  padding-right: 20px;
  padding-left: 20px;
  /*background: url(../images/headerbg.gif) repeat-x;*/
  background-color: #80d39a;
      }
.navbar-inner:before,.navbar-inner:after {display: table;line-height: 0;content: "";}
.navbar-inner:after {clear: both;}
.navbar .navbar-inner .container{}
.navbar .navbar-inner .container .brand{display: block;float: left;padding: 10px 20px 10px;margin-left: -20px;font-size: 20px;font-weight: 200;color: #777777;text-shadow: 0 1px 0 #ffffff;line-height:20px;font-family: "\5fae\8f6f\96c5\9ed1", "\5b8b\4f53","Helvetica Neue", Helvetica, Arial,  sans-serif;}
.navbar .navbar-inner .container .btn-navbar{margin-top: 5px;}
.navbar .navbar-inner .container .nav-wrapper{ width: 1000px;margin: 0 auto;}
.nav-wrapper .nav{position: relative;left: 0;display: block;float: left;margin: 0 10px 0 0;}
.nav-wrapper .nav .nav-ele{float: left;}
.nav-wrapper .nav .nav-ele-link{display: block;padding: 10px 15px 10px;}
.nav-wrapper .pull-right{float: right;}
.dropdown{position: relative;}
.dropdown a{display: inline-block;width: 50px;height: 50px;line-height: 50px;text-align: center;}
.dropdown:hover ul{display: block;}
.dropdown:hover a{background-color: #f9fffa;}
.dropdown-menu{display: none;position: absolute;z-index: 100;border:1px solid #80d39a;border-top:none;top: 50px;width: 140px;background-color: #f9fffa;left: -91px;}
.dropdown-menu li a{text-indent: 20px;}
/*header end*/



/*menuBar 左侧导航栏*/
.nav-w{width: 240px;background-color: #fff;color: #141F40;margin-top: 20px;position: relative;z-index: 0;border-radius: 4px;}
.nav-w .searchBox{padding: 15px 0 15px 20px;background-color: #f9fffa;border-bottom: 1px solid #d8fedf;border-radius: 0;}
.nav-w .searchBox .search{height: 32px;width: 170px;border: 1px solid #80d39a;text-indent: 5px;border-radius: 2px;}
.nav-w h5.menuLabel{font-size:14px;color: #141F40;padding-left: 16px;font-weight: normal;line-height: 41px;}
.nav-w .searchBox .search:focus,.nav-w .searchBox .search:hover{outline:none;border:#80d39a 1px solid;box-shadow: 0 0 8px #80d39a;}
.nav-w .searchBox .search-submit{width: 32px;height: 32px;text-indent: -100px;overflow: hidden; background:url(http://www.campuscool.cn/images/s.png) 0px 0px no-repeat;display: inline-block;border: none;}
.nav-w ul.menulist{padding: 0 0 20px 40px; }
.nav-w ul.menulist li{line-height: 40px;font-size: 16px;}
.nav-w ul.menulist li.onPage a{color:#2ac3fb; }
.nav-w ul.menulist li a{color: #141F40;display: inline-block;width: 160px;border-bottom: 1px solid #f2f2f2;height: 40px;line-height: 40px;text-indent: 20px;}
.nav-w ul.menulist li a:hover{color: #2ac3fb;text-decoration: none;}
.nav-w ul.menulist li .link-label{display: block;float: left;margin-left: -30px; width: 30px;height: 30px;background-color: #80d39a;margin-top:5px;}
.nav-w .linkBox a{display: block;width: 240px;height: 40px;line-height: 40px;text-indent: 20px;font-size: 14px;color:#fff;background: #80d39a;margin-top: 1px;}
.nav-w .school{text-indent: 20px;margin-bottom: 0px;}
.nav-w .magic{height: 40px;width: 240px;position: absolute;left: -7px;border-left: 7px solid #80d39a;top: 63px;z-index: -1;background-color: #f9fffa;}

/*infoBox*/
#userinfoBox{position: absolute;right:0px;top: 40px; width: 280px;height: 160px;border:#87C6F9 1px solid;box-shadow: 0 0 8px rgba(103, 166, 217, 1);background-color: #fff;}
#userinfoBox .userinfo-top{height: 118px;border-bottom: 1px solid #2ac3fb; }
#userinfoBox .userinfo-btm{height: 32px;background-color: #f2f2f2;padding-top: 8px;}
#userinfoBox .userinfo-top .avatar{float: left;margin:16px ;}
#userinfoBox .userinfo-top .avatar img{width: 80px;height: 80px;border-radius: 40px;border-radius: 60px;border: 1px solid #2ac3fb;box-shadow: 0 0 8px rgba(103, 166, 217, 1);}
#userinfoBox .userinfo-top .userinfo{float: left;margin-top: 24px;}
#userinfoBox .userinfo-top .userinfo .line span{line-height: 22px;}
#userinfoBox .userinfo-top .userinfo .line .username{font-weight: bold;font-size: 14px;}
#userinfoBox .userinfo-top .userinfo .line .userschool{font-size: 12px;margin-left: 8px;}
#userinfoBox .userinfo-top .userinfo .line .countset{line-height: 22px;}
#userinfoBox .userinfo-top .userinfo .line .countset:hover{color: #2ac3fb;}
#userinfoBox .userinfo-btm a{display: inline-block;height: 24px;width: 80px;border: 1px solid #2ac3fb;line-height: 24px;text-align: center;font-weight: bold;background-color: #fff;}
#userinfoBox .userinfo-btm a.center{margin-left: 26px;padding: 0 4px;}
#userinfoBox .userinfo-btm a.quit{margin-left: 60px;}
#userinfoBox .userinfo-btm a:hover{color: #fff;background-color: #2ac3fb;}

.bodyer{width: 1000px;margin: 30px auto;}
.column-2 .column-left{width: 240px;float: left;}
.column-2 .column-right{width: 730px;margin-left: 30px;float: left;}
.guide{height: 140px;border-radius: 4px;background-color: gray;}
.banner-main{height: 140px;}
.good-list-wrapper{margin-top: 20px;}
.good-list-wrapper .good-menu{padding: 10px 0;}
.good-list-wrapper .good-menu span{}
.good-list-wrapper .good-list{}

/*footer*/
.footer{height: 180px;background-color: #80d39a;bottom: 0;}
.footer .footer-inner{width: 1000px;margin: 0 auto;height: 180px;}
.footer .footer-inner .nav{width: 180px;float: left;height: 100px;margin: 20px 0 0 20px;border-left: 1px solid #33b64c;}
.footer .footer-inner .nav .nav-ele{}


/*.top_bar{width:100%;height:40px;background: url("http://localhost:3000/images/top_bar.png") repeat-x;color: #fff;z-index: 12;box-shadow: 0 0 20px #000;}
.top_bar .top_wrapper{width:1000px;height:40px;margin: 0 auto;}
.top_bar .top_wrapper .school{width:225px;height:40px;float: left;}
.top_bar .top_wrapper .school span{line-height: 40px;font-weight:bold;}
.top_bar .top_wrapper .school a{line-height: 40px;font-size: 12px;}

.top_bar .top_wrapper .logo{height: 40px;width: 130px;background:url("http://localhost:3000/images/icon.png") 0px -17px;float:left;margin-left: 210px;}

.top_bar .person_info_area{width:400px;height:40px;float:right;margin-top: -40px;position: relative;}
.top_bar .person_info_area .avatar_small{width: 24px;height: 24px;float: right;margin: 6px 6px 0 0;cursor: pointer;}
.top_bar .person_info_area .messege{font-size: 12px;display: block;float: right;margin-right: 10px;line-height: 40px;cursor: pointer;}
.top_bar .person_info_area .search{width:164px;height:40px;float: right;margin-right: 30px;margin-top: 10px; }
.search .search_area{border: none;height:20px;width: 150px;padding-left:10px;padding-right:10px;margin-left: 10px;outline:none;-webkit-border-radius: 12px;border-radius: 12px;}
.search .search_submit{border: none;width:20px;height: 20px;float: right;margin-right: 10px;}
.search .search_icon{width: 20px;height:20px;display: block;position: absolute;margin: -20px 0 0 158px;background: url("http://localhost:3000/images/icon.png") -9px 153px;}

.person_info_area .settings{display: none; padding:10px;width: 300px;height:96px;background-color: #fff;position: absolute;right:0px;top:40px;z-index: 10;border: 1px solid #cccccc;border-top: none;box-shadow: 0 0 15px #CCCCCC;}                                                                                                                                                                                                                                                   }
.settings .settings_username{color:#4c4c4c;font-size: 13px;margin-left: 20px;}
.settings .settings_usermail{color:#888888;font-size: 12px;line-height: 25px;margin-left: 28px;}
.settings img{float: left;width: 96px;height: 96px;display: block;}
.settings a{color:#36C;font-size: 12px;margin-left: 28px;display: inline-block;line-height: 40px;}
.settings .tiny_top{position: absolute;width: 8px;height: 8px;background: #fff;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);top:-4px;right:10px;*width: 12px;*top:-8px;right:10px;*background: url("http://localhost:3000/images/icon.png") -288px -25px;background: url("http://localhost:3000/images/icon.png") -290px -26px\0;}

.footer{width: 100%;height:160px;background-color: #fff;float: left;margin-top: 20px;}
.footer .footer_wrapper{width: 1000px;margin: 0 auto;height:160px;}
.footer .footer_wrapper p{font-size: 40px;color:#0969d5;text-shadow: 1px 1px 0 #fff;}

.main {width:1000px;margin: 0 auto;margin-top: 30px;}
.aside{width:200px;height:500px;float:left;}
.topic_wrapper{margin-left: 10px;width:600px;height:auto;float: left;}
.info_area{width:170px;margin-left: 20px;height:500px;float: left;}

.aside .aside_hat{width:150px;height:32px;background-image: url("http://localhost:3000/images/icon.png");background-position:0px -203px; }
.aside .aside_hat span{float:left;margin-left: 29px;padding-top: 9px;}
.aside_selected{color:#fff;font-size:15px;width:200px;height:42px;background-image: url("http://localhost:3000/images/icon.png"); background-position: 0px -121px;}
.aside_selected span{margin-left: 17px;line-height: 40px;cursor: default;}

.aside .aside_body{height:450px;width:180px;position:relative;}
.aside .aside_body .aside_body_class{width:72px;height:300px;background-image: url("http://localhost:3000/images/aside_class.png");background-repeat:repeat-y;margin-left: 10px;margin-top: -2px;float: left;}
.aside .aside_body .aside_body_tags{width:72px;height:450px;float: left;margin-left: 18px;margin-top: -2px;}
.aside .aside_body .hat_foot{background-image:url("http://localhost:3000/images/icon.png");background-position:2px -296px;width: 82px;height: 30px;position: relative;margin-top: -150px;float: left;}
.hat_line{width:72px;height:5px;background-image: url("http://localhost:3000/images/icon.png");background-position: 0px -276px; margin: 10px 0 6px -7px;}
.aside .aside_body .aside_body_tags .hat_line{margin-left: -22px;}
.aside_body ul{width: 72px;}
.aside_body_class ul li{text-align: center;width: 72px;text-shadow:1px 1px 0 #fff;line-height: 29px;}

.aside_body_tags ul li{width: 72px;line-height: 29px;margin-left: 2px;text-shadow:1px 1px 0 #fff;}
.aside_body_tags a:hover{text-decoration: underline;}
.aside_body_tags .more_tags{color:#999999;font-size: 13px;}

.info_area .hot_topic{width: 170px;height: 400px;margin-top: 30px;text-shadow:1px 1px 0 #fff;}
.info_area .hot_topic a{font-size: 12px;display: block;height: 12px;margin-top: 10px; }
.info_area .hot_topic a:hover{text-decoration: underline;}*/