<% include ./header.ejs %>
 <link rel="stylesheet" type="text/css" href="http://localhost:3000/style/changeschool.css" />
 <link rel="stylesheet" type="text/css" href="http://localhost:3000/style/reg.css"/>
 <div class="schoolchoose_area">
            <div class="area">

            </div>
            <div class="schools">

            </div>
        </div>
        <div class="reg_area">
            <div class="reg_form_wrapper">
                <span class="cpc">校园酷</span>
                <span class="cpc_intro">发现校园最有趣生活</span>
                <form action="#" class="reg_form">
                    <label class="label_uname" for="uname">未选择学校</label><input type="text" id="uname"/>
                    <input type="submit" id="form_submit"  value="进入"/>
                </form>
                <span class="to_login">已有账号请<a>登陆</a></span>
            </div>
        </div>
    </div>