   <div class="footer">
    <div class="footer-inner">
        <ul class="nav">
            <li class="nav-ele"><a href="#" class="nav-title"></a></li>
            <li class="nav-ele"><a href="#" ></a></li>
            <li class="nav-ele"><a href="#" ></a></li>
            <li class="nav-ele"><a href="#" ></a></li>
        </ul>
        <ul class="nav">
            <li class="nav-ele"><a href="#" class="nav-title"></a></li>
            <li class="nav-ele"><a href="#" ></a></li>
            <li class="nav-ele"><a href="#" ></a></li>
            <li class="nav-ele"><a href="#" ></a></li>
        </ul>
        <ul class="nav">
            <li class="nav-ele"><a href="#" class="nav-title"></a></li>
            <li class="nav-ele"><a href="#" ></a></li>
            <li class="nav-ele"><a href="#" ></a></li>
            <li class="nav-ele"><a href="#" ></a></li>
        </ul>
        <ul class="nav">
            <li class="nav-ele"><a href="#" class="nav-title"></a></li>
            <li class="nav-ele"><a href="#" ></a></li>
            <li class="nav-ele"><a href="#" ></a></li>
            <li class="nav-ele"><a href="#" ></a></li>
        </ul>
    </div>
</div>
</body>

</html>