   <div class="footer">
    <div class="footer-inner">
        <ul class="nav">
            <li class="nav-ele nav-title">校园酷的服务</li>
            <li class="nav-ele"><a href="#" >校园市场</a></li>
            <li class="nav-ele"><a href="#" class="link-disable">校园社区</a></li>
            <li class="nav-ele"><a href="#" class="link-disable">酷玩</a></li>
        </ul>
        <ul class="nav">
            <li class="nav-ele nav-title">栏目</li>
            <li class="nav-ele"><a href="#" >所有物品</a></li>
            <li class="nav-ele"><a href="#" >书籍/学习周边</a></li>
            <li class="nav-ele"><a href="#" >自行车/生活周边</a></li>
            <li class="nav-ele"><a href="#" >数码/电子</a></li>
            <li class="nav-ele"><a href="#" >门票/卡券</a></li>
            <li class="nav-ele"><a href="#" >其他</a></li>
        </ul>
        <ul class="nav">
            <li class="nav-ele nav-title">联系</li>
            <li class="nav-ele"><a href="#" >发邮件给我</a></li>
        </ul>
        <ul class="nav">
            <li class="nav-ele nav-title">关注校园酷</li>
            <li class="nav-ele"><a href="#" >关于校园酷</a></li>
            <li class="nav-ele"><a href="#" >新浪微博</a></li>
            <li class="nav-ele"><a href="#" >腾讯微博</a></li>
        </ul>
        <ul class="nav nav-right beian">
            <li class="nav-ele nav-title">备案信息</li>
            <li class="nav-ele">沪ICP备11043625号-1
Copyright © 2013 校园酷</li>
        </ul>

    </div>
</div>
</body>
<script type="text/javascript">
    $(".change-school").bind('click',function(){
        require(['ui/selector'],function (Selector){
            Selector.init({
                data:"<%=staticUrl %>scripts/org_data.js",
                layer:3,
                selector_title:"校园酷-选择您想要前往的学校",
                defaultData:"",
                selector_detial_title:["选择城市","选择区域","选择学校"],
                callback:function(data,kSelector_data){
                    // console.log(data);
                    // console.log(kSelector_data);
                }
            })
        })
    })
</script>
</html>