        <div class="aside">
             <div class="aside_hat">
                 <span>分类：</span>
                 <span>Tags：</span>
             </div>
            <div class="aside_selected">
                <span id="selected_class">校园生活</span>
                <span id="selected_tag">DOTA</span>
            </div>
            <div class="aside_body">
                <div class="aside_body_class">
                    <div class="hat_line"></div>
                    <ul>
                        <li><a>校园生活</a></li>
                        <li><a>校园情调</a></li>
                        <li><a>校园激情</a></li>
                        <li><a>校园什么</a></li>
                        <li><a>校啊啊啊</a></li>
                        <li><a>校呵呵呵</a></li>
                        <li><a>校园生活</a></li>
                        <li><a>校test</a></li>
                        <li><a>校园生活</a></li>
                    </ul>

                </div>
                <div class="aside_body_tags">
                    <div class="hat_line"></div>
                    <ul>
                        <li><a>爱情</a></li>
                        <li><a>玩儿蛋</a></li>
                        <li><a>爱情</a></li>
                        <li><a>玩儿蛋</a></li>
                        <li><a>爱情</a></li>
                        <li><a>玩儿蛋</a></li>
                        <li><a>爱情</a></li>
                        <li><a>玩儿蛋</a></li>
                        <li><a>爱情</a></li>
                        <li><a>玩儿蛋</a></li>
                        <li><a>爱情</a></li>
                        <li><a>玩儿蛋</a></li>
                    </ul>
                    <a class="more_tags">展开更多</a>
                </div>
                <div class="hat_foot"></div>
            </div>
        </div>