<% include ./header.ejs %>
<link rel="stylesheet" type="text/css" href="http://localhost:3000/style/reg.css"/>
    <div class="logo_area">
            <img src="http://localhost/campuscool/resource/style/image/reg_logo.png"/>
        </div>
        <div class="reg_area">
            <div class="reg_form_wrapper">
                <span class="cpc">校园酷</span>
                <span class="cpc_intro">发现校园最有趣生活</span>
                <form action="http://localhost:3000/user/reg_in" method="POST" class="reg_form">
                    <label class="label_uname" for="uname">用户名</label><input name="username" type="text" id="uname"/>
                    <label class="label_umail" for="umail">邮箱</label> <input name="email" type="text" id="umail"/>
                    <label class="label_upsw" for="upsw">密码</label> <input name="password" type="password" id="upsw"/>
                    <label class="label_rupsw" for="rupsw">重复密码</label><input name="rpassword" type="password" id="rupsw"/>
                    <input type="text" id="vcode" name="vcode" value="验证码"/>
                    <div class="vcode"></div>
                    <input type="submit" id="form_submit"  value="注册"/>
                </form>
                <span class="to_login">已有账号请<a>登陆</a></span>
            </div>
        </div>
    </div>
    <div class="reg_footer">

    </div>