        <div class="info_area">
            <div class="regist"></div>
            <div class="hot_topic">
                <span class="hot_topic_title">分类热门</span>
                <img src="http://localhost/campuscool/resource/style/image/hot_topic.png"/>
                <a class="">华理怎么又改名了!</a>
                <a class="">川菜好辣！</a>
                <a class="">有人一起打游戏吗？</a>
                <a class="">志愿者服务</a>
                <a class="">喜欢上了一个女生怎么办</a>
                <a class="">华理怎么又改名了!</a>
                <a class="">川菜好辣！</a>
                <a class="">有人一起打游戏吗？</a>
                <a class="">志愿者服务</a>
            </div>
        </div>