/*首页物品内容部分*/
.good-list-wrapper{width: 750px;font-size: 12px;}
.good-list-wrapper .good-wrapper{float: left;margin: 0 14px 14px 0px; width: 154px;height: 230px;border: 1px solid #e4e4e4;background: #fff;padding:8px;box-shadow: 0 0 4px rgba(34, 25, 25, 0.1);border-radius: 2px;}
.good-list-wrapper .good-wrapper .good-img{border: 1px solid #e4e4e4;width: 150px;height: 150px;}
.good-list-wrapper .good-wrapper .good-img img{width: 148px;height: 148px;margin: 2px;display: block;}
.good-list-wrapper .good-wrapper .detail-box{margin-top: 10px;line-height: 14px;width: 148px;color: #3b3b3b;}
.good-list-wrapper .good-wrapper .detail-box .gname{font-weight: bold;line-height: 20px;}
.good-list-wrapper .good-wrapper .detail-box .guser{line-height: 20px;}
.good-list-wrapper .good-wrapper .gtime{color: #3b3b3b;}

.good-list-wrapper .menu-box-r{height: 34px;padding:15px 0 15px 0;}
.good-list-wrapper .menu-box-r span{display: inline-block;height: 34px;padding: 0 10px;line-height: 34px;background-color: #80d39a;float: right;margin-right: 20px;cursor: pointer;color: #fff;}
.good-list-wrapper .menu-box-r span:hover,.good-list-wrapper .menu-box-r .curr{background-color: #096509;}