/* 
	Copyright © 2013 上海多财多富商务咨询有限公司 dodoomoney.Co.Ltd. All rights reserved.
	Program:	项目 UI控件 - 导航
	Author:		Larry
	Created:	2013-8-2
	Remark:		请非创作人员修改代码时，告知一下创作者
				包括输入框各类型控件
 */
/* 导航代码 .nav 3949-4223 */
.nav {
  margin-bottom: 20px;
  margin-left: 0;
  list-style: none;
}

.nav-wrapper{width: 1000px;margin: 0 auto;}

/* .nav > li > a */
.nav .nav-ele-link {
  display: block;
}

/* .nav > li > a:hover,
.nav > li > a:focus */
.nav .nav-ele-link:hover,
.nav .nav-ele-link:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

/* .nav > li > a > img */
.nav .nav-ele-link img {
  max-width: none;
}

/* .nav > .pull-right */


.nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

/* .nav li + .nav-header */
/* 非ul中第一个的.nav-header */
.nav .nav-header {
  margin-top: 9px;
}

.nav-list {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0;
}

/* .nav-list > li > a,
.nav-list .nav-header */
.nav-list .nav-ele-link,
.nav-list .nav-header {
  margin-right: -15px;
  margin-left: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  *zoom:1;
  _position:relative;/* 有副作用的hack */
}

/* .nav-list > li > a */
.nav-list .nav-ele-link {
  padding: 3px 15px;
}

/* .nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus */
.nav-list .active .nav-ele-link,
.nav-list .active .nav-ele-link:hover,
.nav-list .active .nav-ele-link:focus {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #c30;/* #0088cc */
}

/* .nav-list [class^="icon-"],
.nav-list [class*=" icon-"] */
.nav-list .icon,
.nav-list .icon {
  margin-right: 2px;
}

.nav-list .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.nav-tabs,
.nav-pills {
  *zoom: 1;
}

/* .nav-tabs:before,
.nav-pills:before,
.nav-tabs:after,
.nav-pills:after */
.nav-tabs:before,
.nav-pills:before,
.nav-tabs:after,
.nav-pills:after {
  display: table;
  line-height: 0;
  content: "";
}

/* .nav-tabs:after,
.nav-pills:after */
.nav-tabs:after,
.nav-pills:after {
  clear: both;
}

/* .nav-tabs > li,
.nav-pills > li */
.nav-tabs .nav-ele,
.nav-pills .nav-ele {
  float: left;
}

/* .nav-tabs > li > a,
.nav-pills > li > a */
.nav-tabs .nav-ele-link,
.nav-pills .nav-ele-link {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

/* .nav-tabs > li */
.nav-tabs .nav-ele {
  margin-bottom: -1px;
  *zoom:1;
  _position:relative;/* 有副作用的hack */
}

/* .nav-tabs > li > a */
.nav-tabs .nav-ele-link {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 20px;
  border: 1px solid transparent;
  _border:1px solid white;/* 有副作用的hack */
  _border-bottom: 1px solid #ddd;/* 有副作用的hack */
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
  *display:inline;
  *zoom:1;
}

/* .nav-tabs > li > a:hover,
.nav-tabs > li > a:focus */
.nav-tabs .nav-ele-link:hover,
.nav-tabs .nav-ele-link:focus {
  border-color: #eeeeee #eeeeee #dddddd;
}

/* .nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus */
.nav-tabs .active .nav-ele-link,
.nav-tabs .active .nav-ele-link:hover,
.nav-tabs .active .nav-ele-link:focus {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  border-bottom-color: white;
}

/* .nav-pills > li > a */
.nav-pills .nav-ele-link {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  *display:inline;
  *zoom:1;
}

/* .nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus */
.nav-pills .active .nav-ele-link,
.nav-pills .active .nav-ele-link:hover,
.nav-pills .active .nav-ele-link:focus {
  color: #ffffff;
  background-color: #c30;/* #0088cc */
}

/* .nav-stacked > li */
.nav-stacked .nav-ele {
  float: none;
}

/* .nav-stacked > li > a */
.nav-stacked .nav-ele-link {
  margin-right: 0;
}

/* .nav-tabs.nav-stacked */
.nav-tabs-stacked {
  border-bottom: 0;
}

/* .nav-tabs.nav-stacked > li > a */
.nav-tabs-stacked .nav-ele-link {
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  *display:block;
}

/* .nav-tabs.nav-stacked > li:first-child > a */
.nav-tabs-stacked li:first-child .nav-ele-link {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px;
}

/* .nav-tabs.nav-stacked > li:last-child > a */
.nav-tabs-stacked li:last-child .nav-ele-link {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
}

/* .nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > a:focus */
.nav-tabs-stacked .nav-ele-link:hover,
.nav-tabs-stacked .nav-ele-link:focus {
  z-index: 2;
  border-color: #ddd;
}

/* .nav-pills.nav-stacked > li > a */
.nav-pills-stacked .nav-ele-link {
  margin-bottom: 3px;
  *display:block;
}

/* .nav-pills.nav-stacked > li:last-child > a */
.nav-pills-stacked li:last-child .nav-ele-link {
  margin-bottom: 1px;
}

.nav-tabs .dropdown-menu {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}

.nav-pills .dropdown-menu {
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.nav .dropdown-toggle .caret {
  margin-top: 6px;
  border-top-color: #0088cc;
  border-bottom-color: #0088cc;
}

.nav .dropdown-toggle:hover .caret,
.nav .dropdown-toggle:focus .caret {
  border-top-color: #005580;
  border-bottom-color: #005580;
}

/* move down carets for tabs */

.nav-tabs .dropdown-toggle .caret {
  margin-top: 8px;
}

.nav .active .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.nav-tabs .active .dropdown-toggle .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}

/* .nav > .dropdown.active > a:hover,
.nav > .dropdown.active > a:focus */
.nav .dropdown-active a:hover,
.nav .dropdown-active a:focus {
  cursor: pointer;
}

/* .nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover,
.nav > li.dropdown.open.active > a:focus */
.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav li.dropdown-open-active .nav-ele-link:hover,
.nav li.dropdown-open-active .nav-ele-link:focus {
  color: #ffffff;
  background-color: #999999;
  border-color: #999999;
}

/* .nav li.dropdown.open .caret,
.nav li.dropdown.open.active .caret,
.nav li.dropdown.open a:hover .caret,
.nav li.dropdown.open a:focus .caret */
.nav li.dropdown-open .caret,
.nav li.dropdown-open-active .caret,
.nav li.dropdown-open .nav-ele-link:hover .caret,
.nav li.dropdown-open .nav-ele-link:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  opacity: 1;
  filter: alpha(opacity=100);
}
/* 3949-4223 end */

.nav-pills li{
	*zoom:1;
}


/* 4225-4352 tab位置 */
.tabs-stacked .open > a:hover,
.tabs-stacked .open > a:focus {
  border-color: #999999;
}

.tabbable {
  *zoom: 1;
}

.tabbable:before,
.tabbable:after {
  display: table;
  line-height: 0;
  content: "";
}

.tabbable:after {
  clear: both;
}

.tab-content {
  overflow: auto;
}

/* .tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs */
.tabs-below .nav-tabs,
.tabs-right .nav-tabs,
.tabs-left .nav-tabs {
  border-bottom: 0;
}

/* .tab-content > .tab-pane,
.pill-content > .pill-pane */
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

/* .tab-content > .active,
.pill-content > .active */
.tab-content .active,
.pill-content .active {
  display: block;
}

/* .tabs-below > .nav-tabs */
.tabs-below .nav-tabs {
  border-top: 1px solid #ddd;
}

/* .tabs-below > .nav-tabs > li */
.tabs-below .nav-tabs .nav-ele {
  margin-top: -1px;
  margin-bottom: 0;
}

/* .tabs-below > .nav-tabs > li > a */
.tabs-below .nav-tabs .nav-ele-link {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
  _border: 1px solid white;
  _border-top: 1px solid #ddd;
}

/* .tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus */
.tabs-below .nav-tabs .nav-ele-link:hover,
.tabs-below .nav-tabs .nav-ele-link:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
  _border-bottom-color: #fff;
}

/* .tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus */
.tabs-below .nav-tabs .active .nav-ele-link,
.tabs-below .nav-tabs .active .nav-ele-link:hover,
.tabs-below .nav-tabs .active .nav-ele-link:focus {
  border-color: transparent #ddd #ddd #ddd;
  _border-color: white #ddd #ddd #ddd;
}

/* .tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li */
.tabs-left .nav-tabs .nav-ele,
.tabs-right .nav-tabs .nav-ele {
  float: none;
}

/* .tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a */
.tabs-left .nav-tabs .nav-ele-link,
.tabs-right .nav-tabs .nav-ele-link {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

/* .tabs-left > .nav-tabs */
.tabs-left .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

/* .tabs-left > .nav-tabs > li > a */
.tabs-left .nav-tabs .nav-ele-link {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

/* .tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus */
.tabs-left .nav-tabs .nav-ele-link:hover,
.tabs-left .nav-tabs .nav-ele-link:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

/* .tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus */
.tabs-left .nav-tabs .active .nav-ele-link,
.tabs-left .nav-tabs .active .nav-ele-link:hover,
.tabs-left .nav-tabs .active .nav-ele-link:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

/* .tabs-right > .nav-tabs */
.tabs-right .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

/* .tabs-right > .nav-tabs > li > a */
.tabs-right .nav-tabs .nav-ele-link {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

/* .tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus */
.tabs-right .nav-tabs .nav-ele-link:hover,
.tabs-right .nav-tabs .nav-ele-link:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

/* .tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus */
.tabs-right .nav-tabs .active .nav-ele-link,
.tabs-right .nav-tabs .active .nav-ele-link:hover,
.tabs-right .nav-tabs .active .nav-ele-link:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}
/* 4225-4352 end */

/* 新增 */
.nav-list .nav-ele {
	*zoom:1;
}

/* 4354-4947 */
/* .nav > .disabled > a */
.nav .disabled .nav-ele-link {
  color: #999999;
}

/* .nav > .disabled > a:hover,
.nav > .disabled > a:focus */
.nav .disabled .nav-ele-link:hover,
.nav .disabled .nav-ele-link:focus {
  text-decoration: none;
  cursor: default;
  background-color: transparent;
}

.navbar {
  *position: relative;
  *z-index: 2;
  margin-bottom: 20px;
  overflow: visible;
  line-height:20px;
}

.navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

/* .navbar-inner:before,
.navbar-inner:after */
.navbar-inner:before,
.navbar-inner:after {
  display: table;
  line-height: 0;
  content: "";
}

/* .navbar-inner:after */
.navbar-inner:after {
  clear: both;
}

.navbar .container {
  width: auto;
}

/* .nav-collapse.collapse */
.nav-collapse-collapse {
  height: auto;
  overflow: visible;
}

.navbar .brand {
  display: block;
  float: left;
  padding: 10px 20px 10px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #777777;
  text-shadow: 0 1px 0 #ffffff;
  
  line-height:20px;
  font-family: "\5fae\8f6f\96c5\9ed1", "\5b8b\4f53","Helvetica Neue", Helvetica, Arial,  sans-serif;
  _margin-left: -10px;
}

.navbar .brand:hover,
.navbar .brand:focus {
  text-decoration: none;
}

.navbar-text {
  margin-bottom: 0;
  line-height: 40px;
  color: #777777;
}

.navbar-link {
  color: #777777;
}

.navbar-link:hover,
.navbar-link:focus {
  color: #333333;
}

.navbar .divider-vertical {
  height: 40px;
  margin: 0 9px;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #f2f2f2;
}

.navbar .btn,
.navbar .btn-group {
  margin-top: 5px;
}

.navbar .btn-group .btn,
.navbar .input-prepend .btn,
.navbar .input-append .btn,
.navbar .input-prepend .btn-group,
.navbar .input-append .btn-group {
  margin-top: 0;
}

.navbar-form {
  margin-bottom: 0;
  *zoom: 1;
}

.navbar-form:before,
.navbar-form:after {
  display: table;
  line-height: 0;
  content: "";
}

.navbar-form:after {
  clear: both;
}

.navbar-form input,
.navbar-form select,
.navbar-form .radio,
.navbar-form .checkbox {
  margin-top: 5px;
  /*  */
  _margin-top: 3px;
  _margin-bottom: 3px;
}

.navbar-form input,
.navbar-form select,
.navbar-form .btn {
  display: inline-block;
  margin-bottom: 0;
  /*  */
  _margin-top: 3px;
  _margin-bottom: 3px;
}

/* .navbar-form input[type="image"],
.navbar-form input[type="checkbox"],
.navbar-form input[type="radio"] */
.navbar-form input.input-image,
.navbar-form input.input-checkbox,
.navbar-form input.input-radio {
  margin-top: 3px;
}

.navbar-form .input-append,
.navbar-form .input-prepend {
  margin-top: 5px;
  white-space: nowrap;
}

.navbar-form .input-append input,
.navbar-form .input-prepend input {
  margin-top: 0;
}

.navbar-search {
  position: relative;
  float: left;
  margin-top: 5px;
  margin-bottom: 0;
  /*  */
  _margin-top: 3px;
}

.navbar-search .search-query {
  padding: 4px 14px;
  margin-bottom: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  /* line-height: 1; */
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
  /*  */
  _margin-bottom: 3px;
  line-height: 20px\9;
}

.navbar-static-top {
  position: static;
  margin-bottom: 0;
}

.navbar-static-top .navbar-inner {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
}

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  border-width: 0 0 1px;
}

.navbar-fixed-bottom .navbar-inner {
  border-width: 1px 0 0;
}

.navbar-fixed-top .navbar-inner,
.navbar-fixed-bottom .navbar-inner {
  padding-right: 0;
  padding-left: 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 940px;
}

.navbar-fixed-top {
  top: 0;
}

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.navbar-fixed-bottom {
  bottom: 0;
}

.navbar-fixed-bottom .navbar-inner {
  -webkit-box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);
}

.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}

/* .navbar .nav.pull-right */
.navbar .nav-pull-right {
  float: right;
  margin-right: 0;
}

/* .navbar .nav > li */
.navbar .nav .nav-ele {
  float: left;
}

/* .navbar .nav > li > a */
.navbar .nav .nav-ele-link {
  float: none;
  padding: 10px 15px 10px;
  color: #777777;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
}

.navbar .nav .dropdown-toggle .caret {
  margin-top: 8px;
}

/* .navbar .nav > li > a:focus,
.navbar .nav > li > a:hover */
.navbar .nav .nav-ele-link:focus,
.navbar .nav .nav-ele-link:hover {
  color: #333333;
  text-decoration: none;
  background-color: transparent;
}

/* .navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus */
.navbar .nav .active .nav-ele-link,
.navbar .nav .active .nav-ele-link:hover,
.navbar .nav .active .nav-ele-link:focus {
  color: #555555;
  text-decoration: none;
  background-color: #e5e5e5;
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
     -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.navbar .btn-navbar {
  display: none;
  float: right;
  padding: 7px 10px;
  margin-right: 5px;
  margin-left: 5px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ededed;
  *background-color: #e5e5e5;
  background-image: -moz-linear-gradient(top, #f2f2f2, #e5e5e5);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f2f2f2, #e5e5e5);
  background-image: -o-linear-gradient(top, #f2f2f2, #e5e5e5);
  background-image: linear-gradient(to bottom, #f2f2f2, #e5e5e5);
  background-repeat: repeat-x;
  border-color: #e5e5e5 #e5e5e5 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffe5e5e5', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
}

/* .navbar .btn-navbar:hover,
.navbar .btn-navbar:focus,
.navbar .btn-navbar:active,
.navbar .btn-navbar.active,
.navbar .btn-navbar.disabled,
.navbar .btn-navbar[disabled] */
.navbar .btn-navbar:hover,
.navbar .btn-navbar:focus,
.navbar .btn-navbar:active,
.navbar .btn-navbar-active,
.navbar .btn-navbar-disabled {
  color: #ffffff;
  background-color: #e5e5e5;
  *background-color: #d9d9d9;
}

/* .navbar .btn-navbar:active,
.navbar .btn-navbar.active */
.navbar .btn-navbar:active,
.navbar .btn-navbar-active {
  background-color: #cccccc \9;
}

.navbar .btn-navbar .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
          border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

/* .btn-navbar .icon-bar + .icon-bar */
.btn-navbar .icon-bar + .icon-bar {
  margin-top: 3px;
}

/* .navbar .nav > li > .dropdown-menu:before */
.navbar .nav .nav-ele .dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

/* .navbar .nav > li > .dropdown-menu:after */
.navbar .nav .nav-ele .dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

/* .navbar-fixed-bottom .nav > li > .dropdown-menu:before */
.navbar-fixed-bottom .nav .nav-ele .dropdown-menu:before {
  top: auto;
  bottom: -7px;
  border-top: 7px solid #ccc;
  border-bottom: 0;
  border-top-color: rgba(0, 0, 0, 0.2);
}

/* .navbar-fixed-bottom .nav > li > .dropdown-menu:after */
.navbar-fixed-bottom .nav .nav-ele .dropdown-menu:after {
  top: auto;
  bottom: -6px;
  border-top: 6px solid #ffffff;
  border-bottom: 0;
}

/* .navbar .nav li.dropdown > a:hover .caret,
.navbar .nav li.dropdown > a:focus .caret */
.navbar .nav li.dropdown a:hover .caret,
.navbar .nav li.dropdown a:focus .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}

/* .navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle */
.navbar .nav li.dropdown-open .dropdown-toggle,
.navbar .nav li.dropdown-active .dropdown-toggle,
.navbar .nav li.dropdown-open-active .dropdown-toggle {
  color: #555555;
  background-color: #e5e5e5;
}

/* .navbar .nav li.dropdown > .dropdown-toggle .caret */
.navbar .nav li.dropdown .dropdown-toggle .caret {
  border-top-color: #777777;
  border-bottom-color: #777777;
}

/* .navbar .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar .nav li.dropdown.open.active > .dropdown-toggle .caret */
.navbar .nav li.dropdown-open .dropdown-toggle .caret,
.navbar .nav li.dropdown-active .dropdown-toggle .caret,
.navbar .nav li.dropdown-open-active .dropdown-toggle .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}

/* .navbar .pull-right > li > .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right */
.navbar .pull-right li .dropdown-menu,
.navbar .nav li .dropdown-menu-pull-right {
  right: 0;
  left: auto;
}

/* .navbar .pull-right > li > .dropdown-menu:before,
.navbar .nav > li > .dropdown-menu.pull-right:before */
.navbar .pull-right .nav-ele .dropdown-menu:before,
.navbar .nav .nav-ele .dropdown-menu-pull-right:before {
  right: 12px;
  left: auto;
}

/* .navbar .pull-right > li > .dropdown-menu:after,
.navbar .nav > li > .dropdown-menu.pull-right:after */
.navbar .pull-right .nav-ele .dropdown-menu:after,
.navbar .nav .nav-ele .dropdown-menu-pull-right:after {
  right: 13px;
  left: auto;
}

/* .navbar .pull-right > li > .dropdown-menu .dropdown-menu,
.navbar .nav > li > .dropdown-menu.pull-right .dropdown-menu */
.navbar .pull-right .nav-ele .dropdown-menu .dropdown-menu,
.navbar .nav .nav-ele .dropdown-menu.pull-right .dropdown-menu {
  right: 100%;
  left: auto;
  margin-right: -1px;
  margin-left: 0;
  -webkit-border-radius: 6px 0 6px 6px;
     -moz-border-radius: 6px 0 6px 6px;
          border-radius: 6px 0 6px 6px;
}

.navbar-inverse .navbar-inner {
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #222222, #111111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
  background-image: -webkit-linear-gradient(top, #222222, #111111);
  background-image: -o-linear-gradient(top, #222222, #111111);
  background-image: linear-gradient(to bottom, #222222, #111111);
  background-repeat: repeat-x;
  border-color: #252525;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}

/* .navbar-inverse .brand,
.navbar-inverse .nav > li > a */
.navbar-inverse .brand,
.navbar-inverse .nav .nav-ele-link {
  color: #999999;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* .navbar-inverse .brand:hover,
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .brand:focus,
.navbar-inverse .nav > li > a:focus */
.navbar-inverse .brand:hover,
.navbar-inverse .nav .nav-ele-link:hover,
.navbar-inverse .brand:focus,
.navbar-inverse .nav .nav-ele-link:focus {
  color: #ffffff;
}

.navbar-inverse .brand {
  color: #999999;
}

.navbar-inverse .navbar-text {
  color: #999999;
}

/* .navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover */
.navbar-inverse .nav .nav-ele-link:focus,
.navbar-inverse .nav .nav-ele-link:hover {
  color: #ffffff;
  background-color: transparent;
}

/* .navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus */
.navbar-inverse .nav .active .nav-ele-link,
.navbar-inverse .nav .active .nav-ele-link:hover,
.navbar-inverse .nav .active .nav-ele-link:focus {
  color: #ffffff;
  background-color: #111111;
}

.navbar-inverse .navbar-link {
  color: #999999;
}

.navbar-inverse .navbar-link:hover,
.navbar-inverse .navbar-link:focus {
  color: #ffffff;
}

.navbar-inverse .divider-vertical {
  border-right-color: #222222;
  border-left-color: #111111;
}

/* .navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle */
.navbar-inverse .nav li.dropdown-open .dropdown-toggle,
.navbar-inverse .nav li.dropdown-active .dropdown-toggle,
.navbar-inverse .nav li.dropdown-open-active .dropdown-toggle {
  color: #ffffff;
  background-color: #111111;
}

/* .navbar-inverse .nav li.dropdown > a:hover .caret,
.navbar-inverse .nav li.dropdown > a:focus .caret */
.navbar-inverse .nav li.dropdown a:hover .caret,
.navbar-inverse .nav li.dropdown a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

/* .navbar-inverse .nav li.dropdown > .dropdown-toggle .caret */
.navbar-inverse .nav li.dropdown .dropdown-toggle .caret {
  border-top-color: #999999;
  border-bottom-color: #999999;
}

/* .navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret */
.navbar-inverse .nav li.dropdown-open .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown-active .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown-open-active .dropdown-toggle .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-inverse .navbar-search .search-query {
  color: #ffffff;
  background-color: #515151;
  border-color: #111111;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;
}

.navbar-inverse .navbar-search .search-query:-moz-placeholder {
  color: #cccccc;
}

.navbar-inverse .navbar-search .search-query:-ms-input-placeholder {
  color: #cccccc;
}

.navbar-inverse .navbar-search .search-query::-webkit-input-placeholder {
  color: #cccccc;
}

/* .navbar-inverse .navbar-search .search-query:focus,
.navbar-inverse .navbar-search .search-query.focused */
.navbar-inverse .navbar-search .search-query:focus,
.navbar-inverse .navbar-search .search-query-focused {
  padding: 5px 15px;
  color: #333333;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #ffffff;
  border: 0;
  outline: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

.navbar-inverse .btn-navbar {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e0e0e;
  *background-color: #040404;
  background-image: -moz-linear-gradient(top, #151515, #040404);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#151515), to(#040404));
  background-image: -webkit-linear-gradient(top, #151515, #040404);
  background-image: -o-linear-gradient(top, #151515, #040404);
  background-image: linear-gradient(to bottom, #151515, #040404);
  background-repeat: repeat-x;
  border-color: #040404 #040404 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff151515', endColorstr='#ff040404', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

/* .navbar-inverse .btn-navbar:hover,
.navbar-inverse .btn-navbar:focus,
.navbar-inverse .btn-navbar:active,
.navbar-inverse .btn-navbar.active,
.navbar-inverse .btn-navbar.disabled,
.navbar-inverse .btn-navbar[disabled] */
.navbar-inverse .btn-navbar:hover,
.navbar-inverse .btn-navbar:focus,
.navbar-inverse .btn-navbar:active,
.navbar-inverse .btn-navbar-active,
.navbar-inverse .btn-navbar-disabled {
  color: #ffffff;
  background-color: #040404;
  *background-color: #000000;
}

/* .navbar-inverse .btn-navbar:active,
.navbar-inverse .btn-navbar.active */
.navbar-inverse .btn-navbar:active,
.navbar-inverse .btn-navbar-active {
  background-color: #000000 \9;
}
/* 4354-4947 end */


/* 新增 */
.nav-tabs .dropdown {
	*zoom:1;
}
.nav-tabs .dropdown-toggle {
	_padding-top: 12px;
	_padding-bottom: 12px;
}
.nav-pills .dropdown-toggle {
	_padding-top: 9px;
	_padding-bottom: 9px;
}

.navbar .dropdown .nav-ele-link {
	_padding-top:14px;
}

.navbar .nav .dropdown-toggle .caret {
	*margin-top: 5px;
}
.navbar .pull-right {
  float: right;
}